body {
	font: 1em arial, sans-serif;
}
h2 {
	font-size: 150%;
	margin-bottom:50px;
}
#mainbody {
	padding:25px;
	text-align: center; 
}
#searchresults {
	width: 70%;
	border-radius: 15px;
	border: 2px solid #73AD21;
	padding: 20px;
	margin:auto;
	margin-bottom: 25px;
	display:none;
	background:#e7ffe7;
}
.errormessage{
	color:#f00;
	text-align:center;
	font-weight:bold;
}
.listrow {
	clear:both;
	display:flex;
	width: 90%;
	padding: auto;
	margin: auto;
}
.listkey, .listvalue {
	display: block;
	align-items: stretch;
	padding:5px;
}
.listkey {
	float:left;
	width: 10%;
	font-weight: bold;
	text-align: right;
}
.listvalue { 
	text-align:left;
	width: 90%;
	-ms-word-break: break-all;
	word-break: break-all;
}
.autocomplete {
	position: absolute;
	background: #fff;
	border: 1px solid #ddd;
	padding:1px;
	max-height:200px;
	overflow:auto;
	font-size: .75em
}
.autocomplete .listitem {
	width:100%;
	cursor: pointer;
}

.autocomplete .hovered {
	background: #ddd;
}
